# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Executable
video-compare
video-compare.exe
frame-navigation-test
frame-navigation-test.exe

# Dependencies
*.d
ffmpeg-*-full_build-shared/
ffmpeg-release-full-shared.7z
SDL2-*-win32-x64.zip
SDL2-*-win32-x64/
SDL2-devel-*.tar.gz
SDL2-devel-*/
SDL2_ttf-*-win32-x64.zip
SDL2_ttf-*-win32-x64/
SDL2_ttf-devel-*.tar.gz
SDL2_ttf-devel-*/
release/

# Videos
*.mov

# Mac OS X stuff
.DS_Store

# PNG files
*.png

